name: Terraform Test Workflow

on:
  workflow_dispatch: 
    inputs:
      action:
        description: Select action to perform
        type: choice
        required: true
        default: plan
        options:
          - plan
          - apply
          - destroy

jobs:
  terraform_deployment:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Terraform Install
      uses: hashicorp/setup-terraform@v3

    # - name: Configure AWS Credentials
    #   uses: 
      

      
      

  
